<form class="wybra-form" method="{{ method }}" action="{{ action }}"{% if enctype %} enctype="{{ enctype }}"{% endif %}{% for name, value in attr.items() %}{% if value is sameas true %} {{ name }}{% elif value is not sameas false %} {{ name }}="{{ value }}"{% endif %}{% endfor %}>
  {% if method_override %}
    <input name="_method" type="hidden" value="{{ method_override }}">
  {% endif %}
  {% if form_errors %}
    <ul class="wybra-form-errors wybra-form-errors--form">
      {% for error in form_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {{ csrf_field }}
  {% for field in hidden_fields %}
    {{ field }}
  {% endfor %}
  {% for field in fields %}
    {{ field }}
  {% endfor %}
  {% if actions %}
    <div class="wybra-form-actions">
      {% for action_name in actions %}
        {% if action_name == "submit" %}
          <button class="wybra-form-action wybra-form-action--submit" type="submit">Submit</button>
        {% elif action_name == "clear" %}
          <button class="wybra-form-action wybra-form-action--clear" type="reset">Clear</button>
        {% elif action_name == "cancel" %}
          <button class="wybra-form-action wybra-form-action--cancel" type="button" data-wybra-form-cancel>Cancel</button>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</form>
